header {
  padding-block: 32px;
  font: var(--text-md);
}
#profile {
  display: flex;
  gap: 32px;
}
#profile img {
  border-radius: 50%;
  border: 4px solid;
  border-color: var(--surface-color);
  transition: 0.2s;
}
#profile img:hover {
  border-color: var(--brand-color);
}

#profile > div {
  max-width: 384px;
  color: var(--text-color-secondary);
}
#profile h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}
#profile p {
  color: var(--text-color-secondary);
}
#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#info {
  display: flex;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 280px;
}
#info li {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  margin-right: 100px;
}
